<!DOCTYPE html>
<html>
<head>
  <title>Notabl</title>


  <!-- awesome fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- <% if signed_in? %>
  <%= current_user.email %>
  <%= button_to "Sign Out", session_url, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>
<br>
<%= render "layouts/errors" %> -->


<%= yield %>

</body>
</html>
